.content{
    position: relative;
}

.theblackdiv{
       
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    transition: .3s ease-in-out;
    width: 100%;
    height: 100%;
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.theblackdiv:hover{
    opacity:1;
}

@media screen and (min-width:1280px){
    #pro {
        /* background-color: aquamarine; */
        padding-left: 5rem ;
        padding-right: 5rem;
    }
}