@media screen and (min-width:1280px){
    #pro {
        /* background-color: aquamarine; */
        padding-left: 2.9rem ;
        padding-right: 2.9rem;
    }
    #Resource{
        padding-left: 3rem ;
        padding-right: 3rem;
    }
}

